.footer-legal-wrapper {
  max-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.footer-legal {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px 32px;
  border-top: 1px solid #333;
}

.footer-legal > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (width >= 900px) {
  .footer-legal > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-legal {
    padding: 16px 32px 32px;
  }
}

.footer-legal p {
  margin: 0;
  color: #999;
  font-size: 12px;
}

.footer-legal > div > div:last-child {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.footer-legal > div > div:last-child p {
  margin: 0;
}

.footer-legal a {
  color: #999;
  text-decoration: none;
  font-size: 12px;
}

.footer-legal a:hover {
  color: #fff;
  text-decoration: underline;
}
